%div{:class => "column width1 first"}
  %h1 Aufgaben
%div{:class => "column width2", :style => "text-align:right"}  
  %form{:id => "addtodo", :class => "", :action => TodoController.r(:create), :method => :post, :onsubmit => "form_srlz($(this), false); return false;"}
    %input{:type => :image, :src => "/img//new-cat-bg-go.png", :class => :submit}
    //%input{:type => :submit, :name => :body, :value => "Neu!", :class => "submit"}
    %input{:type => :text, :name => :body, :value => "", :class => "text"}
    - if @which
      %input{:type => :hidden, :name => :category, :value => @which, :class => :cat}
%div{:class => "column width3 first boxchild"}
  %div{:id => :todos}
    - @todos.each do |todo|
      = render_view :todo, :todo => todo
  
