%h2 Kategorie
%ul
  %li
    %a{:class => "alink", :href => TodoController.r, :title => "Aufgaben"}
      %b Alle
  - @cats.each do |cat| 
    %li
      - acls = cat ==
      %a{:class => "alink", :href => TodoController.r(:index, :category, cat), :title => "Aufgaben der Kategorie: #{cat}"}= cat
