%div{:class => "todo_head"}
  %div{:class => "column width1 first"}
    %div{:class => "cat corner"}
      %div{:style => "text-align:center"}= @todo.cat
  %div{:class => "column width2"}
    %span.icon= @todo.icon  
    %div{:class => "body"}
      %div=@todo.body_markup
      %div{:class => "at"}=@todo.created_at.to_s
