%div{:class => "column width1 first"}
  %div{:id => :pgroup}
    %ul
      %li
        %a{:class => "active"}
          = @pgroup.name
      %li
        %a{:href => ProductsController.r(:index, :productgroup, @pgroup.id), :class => :alink, :title => "Produktgruppe: #{@pgroup.name}"}
          Zurück zu den Produktgruppen
%div{:class => "column width2", :style => "", :id => :product_border}
  %div{:id => "product_container"}
    %h2= @product.name
