%h2 Verwaltung
%ul
  %li
    %a{:href => UserController.r(:list, :start, 0), :class => :alink, :title => "Benutzer Durchblättern"} Anlegen
  %li
    %a{:href => UserController.r(:search), :class => :alink, :title => "Benutzer Suchen"} Suchen


