%h2 Verwaltung
%ul
  - if @pgroup
    %li
      %a{:title => "Produkt Hinzufügen", :id => :sidebar_ptoggle} Produkt Hinzufügen
  // %li
  //   %a{:href => UserController.r(:list, :start, 0), :class => :alink, :title => "Kontingente"} Kontingente
  // %li
  //   %a{:href => UserController.r(:list, :start, 0), :class => :alink, :title => "Benutzer Durchblättern"} Anlegen
  // %li
  //   %a{:href => UserController.r(:search), :class => :alink, :title => "Benutzer Suchen"} Suchen


