!!! Strict
%html
  %head
    %title foo
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/baseline.compress.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/base.css" }=''
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}=""
    %script{:type => "text/javascript"}
      google.load("jquery", "1.3.2");
      google.setOnLoadCallback(function() {

    });
    
  %body
    %div{:id => :top, :class => "width4 stroke"}

      %div{:class => "column width2 first"}
        %h1 Lorem ipsum dolor sit amet
        %p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %div{:class => "column width2"}
        %h2 ipsum dolor sit amet
        %p do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    

    %div{:id => :top, :class => "width4 stroke"}

      %div{:class => "column width2 first"}
        %form{:action => "/", :method => :post}
          %fieldset{:class => "width1"}
            %label{:class => "width2 first"} WYWTS?
            %input{:type => :text, :name => "post[body]", :class => :text}
            %input{:type => :submit, :value => "Yarr!"}
      %div{:class => "column width2"}
        %h2 ipsum dolor sit amet
        %p do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

