!!! XML
!!! Strict
%html
  %head

    %title foo
    %meta{'http-equiv' => "Content-Type",  :content => "text/html; charset=utf-8"}/
    %meta{'http-equiv' => "Cache-Control", :content => "NO-CACHE"}/

    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/baseline.compress.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery.autocomplete.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery.treeview.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/facebox.css" }=''    
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/base.css" }=''
    

    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}=""
    %script{:type => "text/javascript"}
      google.load("jquery", "1.3.2", {uncompressed:true});
      google.load("jqueryui", "1.7.2", {uncompressed:true});
    
    %script{:type => "text/javascript", :src => "/js/jquery.easing.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.divcorners.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.history.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.blockUI.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.growl.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.autocomplete.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.highlightFade.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.popupwindow.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.cookie.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.simplemodal.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.treeview.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.jeditable.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.scrollTo.js"}=""
    %script{:type => "text/javascript", :src => "/js/ajaxupload.js"}=""
    %script{:type => "text/javascript", :src => "/js/facebox.js"}=""
    %script{:type => "text/javascript", :src => "/js/ams.js"}=""
    
  %body
    %div{:id => :history}
      %ul{:id => :history_inc}
    %div{:id => :spinner, :style => "display:none"}
      %img{:src => "/img/spinner.gif"}

    // %div{:id => "search", :class => ""}
    //   %form{:id => :searchform}
    //     %div
    //       == <input type="text" name="s" class="searchthingy" /><input id="search_simg" type="image" name="s" title="Suche" src="/img/search3.gif" />

    = render_file "view/toplinks.haml"
    %div{:id => :mid, :class => "column first width6"}
      %div{:class => "column width1 first", :id => :sidebar}
        %div{:id => :sidebar_top}
          .name
            %a{:title => "Mein Benutzerprofil", :href => "/user/me", :class => :alink}= session_user.name
          .emails
            %a{:title => "Nachrichten", :href => "/messages/messages", :class => :alink}= Mcon('email', 'foo', 24)
        %div{:class => "", :id => :sidebar_content}
      %div{:class => "column width3"}
        %div{:id => :content}
          = @content
    %div{:id => :bottom, :class => "column first", :style => "margin-top:440px"}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
