- if @agency
  %h2= @agency.name
  %ul
    %li Kontakte
    %li Produkte
    %li Orte
  %ul
    %li Benutzer Verwalten
    %li Rechte
%h2{:class => :boxchild} Alle Agenturen
%ul
  - unless @agency
    %li
      %a{:class => "alink", :href => AgencyController.r(session_user.agency.name.escape(:uri))}= session_user.agency.name_link
  %li
    %a{:class => "alink", :href => AgencyController.r(:index), :title => "Agenturen"} Alle Agenturen
