- @uparted.each do |user|
  %div{:class => "column width1 #{@uparted.index(user) == 0 ? ' first' : ''}", :id => "userlist"}
    - user.each do |user| 
      = render_view :box, :user => user
        
%div{:class => "column width1"}
  %div
    %table
      %tr
        %td{:class => :tright}
          = make_browse_link(:-)
        %td
          = make_browse_link(:+)      
