= render_file "view/address/address_for.haml", :user => @user
= render_view :box, :user => @user
%div{:class => "column width1"}
  %div{:class => "tasks corner"}
    %ul
      %li
        %a{:class => "alink", :href => UserController.r(:edit, :is_edit => "1", :id => @user.id), :title => "Aktualisieren: #{@user.name}"} Benutzer Editieren



