%ul
  %li
    %a{:href => UserController.r(:create), :class => :alink} Anlegen
    %a{:href => UserController.r(:create), :class => :alink} Bar
    %a{:href => UserController.r(:create), :class => :alink} Bums    
