%h2 Selbst
%ul
  %li
    %a{:href => MessageController.r(:messages_for, @user.id), :class => :alink, :title => "Nachrichten"} Nachrichten
  %li
    %a{:href => UserController.r(:me), :class => :alink, :title => "Mein Benutzerprofil"} Profil
  %li
    %a{:href => UserController.r(:tasks), :class => :alink, :title => "Aufgaben"} Aufgaben
%h2 Werkzeuge
%ul
  %li
    %a{:href => UserController.r(:list, :start => 0), :class => :alink, :title => "Benutzer Durchblättern"} Blättern
  %li
    %a{:href => UserController.r(:search), :class => :alink, :title => "Benutzer Suchen"} Suchen
  %li
    %a{:href => UserController.r(:edit), :class => :alink, :title => "Benutzer Editieren"} Anlegen/ Bearbeiten
