%fieldset{:class => "column width1 first"}
  %legend Zeiten
  %input{:value => "y", :id => :w_products, :type => :radio, :class => :radio, :name => "mods[w_products]"}
  %label{:for => :w_products, :class => "checkbox-label"}
    %span Fester Zeitraum
    %span{:class => "hidden hint"} lala
  %input{:value => "y", :id => :w_products, :type => :radio, :class => :radio, :name => "mods[w_products]"}
  %label{:for => :w_products, :class => "checkbox-label"}
    %span Nur Startdatum
    %span{:class => "hidden hint"} lala
  %input{:value => "y", :id => :w_products, :type => :radio, :class => :radio, :name => "mods[w_products]"}
  %label{:for => :w_products, :class => "checkbox-label"}
    %span Dauerhaft
    %span{:class => "hidden hint"} lala
