%div{:id => :messages}
  %div{:class => "column width2 first"}
    %div{:class => "column width2 first"}
      %h3{:class => :cheader}= @msg.topic
    %div{:class => "column width2 first textbody"}
      %p{:class => :textbody}= @msg.body
      .dark_text{}= " " + @msg.from.name_link + ", " + @msg.created_at.to_s
    %div{:class => "column width2 first"}      
      %div{:class => "", :style => "padding:0px"}
        %hr
  = render_view :inbox, :messages => @messages
