%div{:class => "column width2"}
  %div{:id => :message_border}
    %div{:class => "right"}
      %h3{:class => :header}= @msg.topic
      %div{:class => :textbody}= @msg.body_markup
      .dark_text{}= " " + @msg.from.name_link + ", vor " + @msg.created_at.to_s
      %hr
      %fieldset{:style => "text-align:center"}
        %textarea{:rows => 20, :onfocus => "message_answer($(this), #{@msg.id});"}
