%div{:class => "column width3 first"}
  %h1 Nachrichten
%div{:class => "column width1 first"}
  %div{:id => :message_group}
    %ul
      - @all_messages.each do |msg|
        %li
          %a{:title => "Nachricht.: #{msg.topic}", :class => "alink#{@target_id == msg.id ? ' active' : ''}", :href => MessageController.r(:messages, msg.id)}= msg.topic
%div{:id => :messages}          
  - if @message
    %div{:class => :mod}
      = render_view :index, :msg => @message
  - else
    %div{:class => "column widht2 unitx2 mod"}
      %div{:id => :message_border}
        %div{:class => "right"}
          %p.notice.center Keine Nachricht ausgewählt.
