%form{:action => MessageController.r(:create), :onsubmit => "form_srlz($(this), false); return false"}
  %fieldset
    %legend Nachricht Verfassen
    %div{:class => "column width1 first multilinex2"}
      %label{:class => "width1 first"}
        Empfänger
        %input{:type => :text, :value => (@user ? @user.email : ""), :name => "msg[to]", :class => :text, :id => :userlookup}
        - if @user
          %input{:type => :hidden, :value => @user.id, :name => "msg[uid]", :class => :text, :id => :lookup_uid}
    %div{:class => "column width1 multilinex2"}
      %label{:class => "width1 first"}
        Betreff
        %input{:type => :text, :value => '', :name => "msg[topic]", :class => :text}
    %div#ub= ""
    %div{:class => "first column width2"}
      %label{:class => "first multilinex6 unitx6"}
        Nachricht
        %textarea{:name => "msg[body]", :class => :text}
    %div{:class => "column width2 first"}
      %label{:class => "width1 first"}
        %input{:type => :submit, :value => 'Senden', :class => :submit}
