%h2 Nachrichten
%ul
  %li
    %a{:href => MessageController.r(:messages_for, 1), :class => :alink, :title => "Nachrichten"} Nachrichten
  %li
    %a{:href => MessageController.r(:new), :class => :alink, :title => "Nachrichten"} Nachricht Schreiben

    
