%h2 Nachrichten
%ul
  %li
    %a{:href => MessageController.r(:messages), :class => :alink, :title => "Nachrichten"} Nachrichten
  %li
    %a{:href => MessageController.r(:new), :class => :alink, :title => "Nachricht Verfassen"} Nachricht Schreiben
  %li
    %a{:href => MessageController.r(:sent), :class => :alink, :title => "Outbox"} Outbox

    
