%div{:class => "column width1 first"}
  %div{:id => :jobgroup}
    %ul
      - @jobs.sort_by{|p| p.name}.each do |job|
        %li
          %a{:title => "Produktg.: #{job.name}", :class => "alink#{@target_id == job.id ? ' active' : ''}", :href => JobController.r(:index, job.id)}= job.name
- if @job
  %div{:id => :jobs}
    = render_view :job, :job => @job
- else
  %div{:class => "column width2", :style => "", :id => :job_border}
    %p{:class => "notice center"} Bitte wählen Sie eine Jobart.


// %div{:id => :jobs}
//   %div{:class => "column width3 first"}
//     - @jobs.each do |job|
//       = render_view :job, :job => job
