%div{:class => "column width2 unitx5 job", :id => :job_border}
  %div{:class => "right"}
    .usr= @job.orderer.name_link
    %h1= @job.name
    %p= @job.description

    %h2 Module
    - @job.render_module_paths("info").each do |m|
      = render_file m, :job => @job
    %div{:class => "bottom"}
      %button{:class => :order}
        Auftrag!

