%div{:class => "column width2 unitx5 job", :id => :job_border}
  %div{:class => "right"}
    .mods= @job.modules.keys.map{|k| k.to_s}.sort.reverse.join(",")
    %p= @job.description
  %div{:class => "column width3 first"}
    %div{:class => "bottom hidden"}
      %div= @job.modules.keys.map{|k| k.to_s}.sort.reverse.join(",")
