%div{:id => "j_steps"}
  %a{:onclick => "go_to_step('1'); return false;"} Schritt 1

%form{:class => :width3, :style => "padding:0px;", :onsubmit => "job_submit($(this)); return false;" }
  %div{:id => :j_step2, :class => :hidden}
  %div{:id => :j_step1}
    %input{:type => :hidden, :name => "step", :value => 1, :class => "step"}
    %h1 Neue Auftragsart Modellieren
    %fieldset{:class => "column width2 first"}
      %legend Allgemeine Angaben
      %label{:class => "unitx3 first"}
        Bezeichung
        %input{:type => :text, :value => "Eine JobBezeichnung",:name => "ja[name]", :class => :text}
      %label{:class => "unitx3 multilinex6 first"}
        Beschreibung
        %textarea{:value => "",:name => "ja[description]", :class => :text}
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %fieldset{:class => "column width1"}
      %legend Module
      %input{:disabled => :disabled, :checked => :checked, :value => "y", :id => :w_times, :type => :checkbox, :class => :checkbox, :name => "mods[w_times]"}
      %label{:for => :w_times, :class => "checkbox-label"}
        %span Zeiträume
        %span{:class => "hidden hint"} lulu      
      %input{:checked => :checked, :value => "y", :id => :w_products, :type => :checkbox, :class => :checkbox, :name => "mods[w_products]"}
      %label{:for => :w_products, :class => "checkbox-label"}
        %span Produkte/Kontingente
        %span{:class => "hidden hint"} lala
      %input{:checked => :checked, :value => "y", :id => :w_locations, :type => :checkbox, :class => :checkbox, :name => "mods[w_locations]"}
      %label{:for => :w_locations, :class => "checkbox-label"}
        %span Orte
        %span{:class => "hidden hint"} lala
      %input{:checked => :checked, :value => "y", :id => :w_stats, :type => :checkbox, :class => :checkbox, :name => "mods[w_stats]"}
      %label{:for => :w_stats, :class => "checkbox-label"}
        %span Statistiken
        %span{:class => "hidden hint"} stats      
      %input{:checked => :checked, :value => "y", :id => :w_public, :type => :checkbox, :class => :checkbox, :name => "mods[w_public]"}
      %label{:for => :w_public, :class => "checkbox-label"}
        %span Öffentlich
        %span{:class => "hidden hint"} lala
    %div{:class => "column width3 first boxchild align-right"}
      %fieldset{:div => "width2 first"}
      %fieldset{:class => "width1 align-right"}
        %input{:type => :submit, :value => "Weiter", :class => "align-left unitx2 boxchild"}
