%div{:class => "column width2 first"}
  %div{:class => "column width2 first"}
    %h2= @name
  %div{:class => "column width1 first"}
    %div= @description
  %div{:class => "column width1"}
    %div= @description
%div{:class => "column width1"}
  %div{:class => "silver"}
    %h2 Beschreibung
    %div= @description
